*
!app
!audit-decrypt.server.ts
!audit-export.server.ts
!build
!global.d.ts
!package.json
!package-lock.json
!patches
!prisma
!public
!remix.config.js
!tailwind.config.js
!remix.env.d.ts
!server.js
!tsconfig.json
!.env.example
!start.sh
!start-cron.ts
!useid-eservice-sdk
useid-eservice-sdk/node_modules
useid-eservice-sdk/dist
**/*.spec.*
**/*.test.*
/public/build/
