*
!app
!audit-decrypt.server.ts
!audit-export.server.ts
!build
!console.ts
!global.d.ts
!package.json
!package-lock.json
!patches
!prisma
!public
!unleash
!remix.config.js
!tailwind.config.js
!remix.env.d.ts
!server.js
!tsconfig.json
!.env.example
!start.sh
!start-cron.ts
**/*.spec.*
**/*.test.*
/public/build/
