*
!app
!audit-decrypt.server.ts
!audit-export.server.ts
!build
!package.json
!package-lock.json
!prisma
!public
!remix.config.js
!tailwind.config.js
!remix.env.d.ts
!server.ts
!tsconfig.json
!.env.example
**/*.spec.*
**/*.test.*
/public/build/
