# JS/Remix
node_modules
.env
/.cache
/.eslintcache
/build
/public/build
/public/tailwind.css
/public/locales/de/*
!/public/locales/de/all.json

cypress/screenshots

# IDEs and editors
.idea
*.iml
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# OS files
.DS_Store
