version: "3.8"
services:
  db:
    image: postgres:12
    restart: always
    environment:
      - POSTGRES_DB=grundsteuer
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5432:5432"
volumes:
  db:
    driver: local
