{{ greetings }}
{% block content %}{% endblock %}

{{ "-- " }}
{{ productName }}
{{ signature }} | {{ company.shortName }}
{{ company.website.label }}: {{ company.website.url }}
{{ company.twitter.label }}: {{ company.twitter.url }}
{{ company.linkedIn.label }}: {{ company.linkedIn.url }}
{{ company.name }}
{{ company.street }}, {{ company.zip }} {{ company.city }}
{{ company.vatId}} | {{ company.directors }}
{{ company.registerNumber }}| {{ company.registerCourt }}
