{% extends "baseLayout.html.njk" %} {% block content %}

<p>
  <strong>Erfolgreiche Übermittlung</strong>
</p>

<p>
  Ihre Grundsteuererklärung wurde an das Finanzamt gesendet. Mit Ihrem
  Transferticket können Sie dort bei Bedarf den Status Ihrer Erklärung
  nachfragen.
</p>

<p>
  <strong>Ihr persönliches Transferticket: {{ transferticket }}</strong>
</p>

{% if pdfIsAttached %}
<p>
  Im Anhang finden Sie das PDF mit der Zusammenfassung Ihrer
  Grundsteuererklärung. Bitte überprüfen Sie die Angaben.
</p>
{% else %}
<p>
  Ein PDF mit der Zusammenfassung Ihrer Grundsteuererklärung können Sie noch 24
  Stunden in Ihrem Konto herunterladen (wenn Sie keine weitere Erklärung
  abgegeben haben).
</p>
{% endif %}

<p>
  Sollten Sie Ihre Grundsteuererklärung korrigieren wollen, finden Sie in
  <a
    href="https://grundsteuererklaerung-fuer-privateigentum.zammad.com/help/de-de/48"
    >unserem Hilfebereich</a
  >
  eine Anleitung.
</p>

<p><strong>Wie geht es jetzt weiter?</strong></p>

<ol>
  <li>Ihre Erklärung wird nun von Ihrem Finanzamt bearbeitet.</li>
  <li>
    In der Zeit bis 2024 bekommen Sie drei Briefe:
    <ul>
      <li>Grundsteuerwertbescheid</li>
      <li>Grundsteuermessbescheid</li>
      <li>den neuen Grundsteuerbescheid</li>
    </ul>
  </li>
  <li>
    Bis zum Jahr 2025 zahlen Sie die alte Grundsteuer. Ab 2025 zahlen Sie die
    neue Grundsteuer.
  </li>
</ol>

{% endblock %}
