{% extends "baseLayout.html.njk" %} {% block content %}

<p>
  <strong>Bestätigung</strong>
</p>

<p>
  Erfolgreiche Anforderung Freischaltcode bei
  <strong>{{ productName }}</strong> am {{ createdAt | date }}.
</p>

<p>
  <strong>Was passiert jetzt?</strong>
</p>

<ol>
  <li>
    Nur Geduld! Der Freischaltcode wird jetzt per Post an Ihre Meldeadresse
    gesendet. Das kann bis zu 3 Wochen dauern.
  </li>
  <li>
    Wenn Ihr Brief bei Ihnen angekommen ist, melden Sie sich in Ihrem Konto an.
  </li>
  <li>
    Der Code steht auf der letzten Seite über der Zeile {{ "Antragsteller:in
    Digitalservice GmbH des Bundes" | apostrophize }}. Geben Sie den Code ein.
  </li>
</ol>

<p>
  Sie haben den Freischaltcode-Brief schon erhalten? <a href={{ "/fsc/eingeben"
  | url }}>Jetzt anmelden und Freischaltcode eingeben.
</p>

<p>
  Weitere Informationen finden Sie in unserem
  <a
    href="https://grundsteuererklaerung-fuer-privateigentum.zammad.com/help/de-de/7"
    >Hilfebereich</a
  >.
</p>
{% endblock %}
