{% extends "baseLayout.html.njk" %} {% block content %}

<p>
  Dies ist die Bestätigung, dass Sie am {{ createdAt | date }} einen
  Freischaltcode bei <strong>{{ productNameApostrophized }}</strong> angefordert
  haben. Innerhalb von ungefähr 3 Wochen wird Ihnen ein Brief vom Finanzamt mit
  dem 12-stelligem Freischaltcode zugesendet. Sie finden den Code auf der
  letzten Seite des Briefes über der Zeile mit der Bezeichnung {{
  "Antragsteller:in Digitalservice GmbH des Bundes" | apostrophize }}.
</p>

<p>
  <strong> Warten Sie bis der Brief eintrifft </strong>
  <br />

  Sie müssen erstmal nichts weiter tun. Warten Sie auf die Zusendung des
  Freischaltcodes per Brief. Nach Erhalt des Briefes melden Sie sich wieder mit
  Ihrer E-Mail-Adresse an und geben Ihren Freischaltcode ein um sich zu
  identifizieren und Ihre Grundsteuererklärung an das Finanzamt übermitteln zu
  können.
</p>

<p>
  <strong> Das sind die nächsten Schritte: </strong>
</p>
<ol>
  <li>
    Ihren Freischaltcode haben Sie nun beantragt. Warten Sie, bis dieser per
    Post zugestellt wird.
  </li>
  <li>
    Der Freischaltcode sollte innerhalb von 3 Wochen bei Ihnen zugestellt
    werden. Aktuell kann es Verzögerungen durch die Feiertage kommen.
  </li>
  <li>
    Wenn Ihr Brief bei Ihnen angekommen ist, geben sie ihn in Ihrem Konto ein um
    sich abschließend zu identifizieren. Sie können dann ihr vollständig
    ausgefülltes Formular an das Finanzamt übermitteln.
    <br />
    Sie haben den Freischaltcode-Brief schon erhalten? <a href={{
    "/fsc/eingeben" | url }}>Jetzt anmelden und Freischaltcode eingeben.
  </li>
</ol>

<p>
  Weitere Informationen finden Sie in unserem
  <a
    href="https://grundsteuererklaerung-fuer-privateigentum.zammad.com/help/de-de"
    >Hilfebereich</a
  >.
</p>
{% endblock %}
